doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Business Theme
    link(rel="stylesheet" href="slicknav.min.css")
    link(href="styles.min.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="js/main.js")
    script(src="js/jquery.slicknav.min.js")
  body
    .main-wrapper
      header.page-header
        a(href="#").logo
        nav.top-nav
          ul.top-nav-menu
            li.top-nav-menu-item.active: a(href="#home") home
            li.top-nav-menu-item: a(href="#service") service
            li.top-nav-menu-item: a(href="#about-us") about us
            li.top-nav-menu-item: a(href="#pricing") pricing table
            li.top-nav-menu-item: a(href="#algorithm") how it work
            li.top-nav-menu-item: a(href="#clients") happy clients
            li.top-nav-menu-item: a(href="#newsletter") contact us
      section.banner
        a(name="home")
        h2.banner-heading boost up your local business
        p.banner-underheading Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting
        form.request
          input(type="text" placeholder="full name").input-name
          input(type="email" placeholder="email address").input-email
          input(type="phone" placeholder="phone number").input-phone
          input(type="submit" value="request a quote").input-submit
        .slider
          .slider-item.item-1.active
            img(src="images/item1.png")
          .slider-item.item-2
            img(src="images/face1.png")
          .slider-item.item-3
            img(src="images/face2.png")
          .slider-nav
            .slider-nav-item.item-1.active
            .slider-nav-item.item-2
            .slider-nav-item.item-3
      section.services
        a(name="service")
        h2.services-heading our services
        p.underheading Lorem Ipsum is simply dummy Business industry.
        .services-group
          .services-group-item.item-1
            h3.services-group-item-heading font-awesome icons
            p.services-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting ind
                                              |ustry. Lorem Ipsum has been the industry's standard dummy text ever
                                              |since the 1500s, when an unknown printer.
          .services-group-item.item-2
            h3.services-group-item-heading fully responsive design
            p.services-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting ind
                                              |ustry. Lorem Ipsum has been the industry's standard dummy text ever
                                              |since the 1500s, when an unknown printer.
          .services-group-item.item-3
            h3.services-group-item-heading working contact form
            p.services-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting ind
                                              |ustry. Lorem Ipsum has been the industry's standard dummy text ever
                                              |since the 1500s, when an unknown printer.
          .services-group-item.item-4
            h3.services-group-item-heading retina ready icons here
            p.services-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting ind
                                              |ustry. Lorem Ipsum has been the industry's standard dummy text ever
                                              |since the 1500s, when an unknown printer.
          .services-group-item.item-5
            h3.services-group-item-heading friendly code
            p.services-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting ind
                                              |ustry. Lorem Ipsum has been the industry's standard dummy text ever
                                              |since the 1500s, when an unknown printer.
          .services-group-item.item-6
            h3.services-group-item-heading flat trendy landing page design
            p.services-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting ind
                                              |ustry. Lorem Ipsum has been the industry's standard dummy text ever
                                              |since the 1500s, when an unknown printer.
      section.about-us
        a(name="about-us")
        .about-us-pic
        .about-us-description
          h3.about-us-description-heading about us
          p.about-us-description-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                      |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                      |when an unknown printer took a galley of type and scrambled it to make a type
                                      |specimen book. It has survived not only five centuries, but also the leap into
                                      |electronic typesetting, remaining essentially unchanged. It was popularised in
                                      |the ore recently with desktop publishing software like Aldus PageMaker
                                      |including versions of Lorem Ipsum
          a(href="#").special read more
      section.pricing
        a(name="pricing")
        h2.pricing-heading choos your price
        p.pricing-underheading Lorem Ipsum is simply dummy text of the printing typesetting .
        .pricing-group
          .pricing-group-item.item-1
            h3.pricing-group-item-heading basic plan
            span.usd $
            p.price 22
            p.period per month
            p.spec 1 account
            p.spec 8 hour support
            p.spec custom cloud services
            a(href="#").special get started
          .pricing-group-item.item-2.bold
            h3.pricing-group-item-heading premium plan
            span.usd $
            p.price 42
            p.period per month
            p.spec 2 account
            p.spec 100mb storage
            p.spec custom cloud services
            a(href="#").special get started
          .pricing-group-item.item-3
            h3.pricing-group-item-heading gold plan
            span.usd $
            p.price 62
            p.period per month
            p.spec 8 account
            p.spec 24 hour support
            p.spec custom cloud services
            a(href="#").special get started
      section.algorithm
        a(name="algorithm")
        h2.algorithm-heading how it works
        p.algorithm-underheading Lorem Ipsum is simply dummy Business industry
        .steps-group
          .steps-group-item.step-1
            .steps-group-item-icon
            h3.steps-group-item-heading step 1
            p.steps-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          .steps-group-item.step-2
            .steps-group-item-icon
            h3.steps-group-item-heading step 2
            p.steps-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          .steps-group-item.step-3
            .steps-group-item-icon
            h3.steps-group-item-heading step 3
            p.steps-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          .steps-group-item.step-4
            .steps-group-item-icon
            h3.steps-group-item-heading step 4
            p.steps-group-item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        a(href="#").special get start now
      section.clients
        a(name="clients")
        h2.clients-heading happy clients
        p.underheading We are explain who is using our business solutions
        .clients-group
          .clients-group-item.item-1
            .clients-group-item-face
            .clients-group-item-review
              p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    |Lorem Ipsum has been the industry standard dummy text ever since the 1500s,
                    |when an unknown printer took a galley of type and scrambled it to make.
              p.name darwin michle,
              p.position project manager
          .clients-group-item.item-2
            .clients-group-item-face
            .clients-group-item-review
              p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    |Lorem Ipsum has been the industry standard dummy text ever since the 1500s,
                    |when an unknown printer took a galley of type and scrambled it to make.
              p.name madam elisabath,
              p.position creative director
          .clients-group-item.item-3
            .clients-group-item-face
            .clients-group-item-review
              p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    |Lorem Ipsum has been the industry standard dummy text ever since the 1500s,
                    |when an unknown printer took a galley of type and scrambled it to make.
              p.name clips arter,
              p.position lipsum director
          .clients-group-item.item-4
            .clients-group-item-face
            .clients-group-item-review
              p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    |Lorem Ipsum has been the industry standard dummy text ever since the 1500s,
                    |when an unknown printer took a galley of type and scrambled it to make.
              p.name zam cristafr,
              p.position manager
      section.newsletter
        a(name="newsletter")
        h2.newsletter-heading newsletter
        p.newsletter-underheading Lorem Ipsum is simply dummy Business industry
        form.newsletter-subscribe
          input(type="text" placeholder="name").input-name
          input(type="email" placeholder="email address").input-email
          input(type="submit" value="subscribe now").input-subscribe
      section.map
        .map-address
          h3 address
          p Business street
          p Second north section
          p Bavani nagar. 88769
          p Call : +987-9976-999
          a(href="mailto:info@businessface.com") info@businessface.com
        a(href="#").map-logo
      footer.page-footer
        ul.page-footer-menu
          li.page-footer-menu-item: a(href="#home") home
          li.page-footer-menu-item: a(href="#service") service
          li.page-footer-menu-item: a(href="#about-us") about us
          li.page-footer-menu-item: a(href="#pricing") pricing table
          li.page-footer-menu-item: a(href="#algorithm") how it work
          li.page-footer-menu-item: a(href="#clients") happy clients
          li.page-footer-menu-item: a(href="#newsletter") contact us
        .page-footer-phone +987 9976 999
        .page-footer-links-group
          .page-footer-links-group-item.tw
          .page-footer-links-group-item.fb
          .page-footer-links-group-item.gp
          .page-footer-links-group-item.in
        .copyrights All contents © copyright 2014 Business Theme. All rights reserved Designed by : akhilwebfolio
